/* SOURCE: https://teamcolorcodes.com/san-antonio-spurs-color-codes/ */
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #fff;
  width: 100%;
}

li a {
  color: #00B2A9;
}

.jumbotron {
  background-color: #00B2A9;
  color: #fff;
  height: 600px;
  width: 100%;
}

#name-tag {
  -webkit-text-stroke: 1px #fff;
  color: #00B2A9;
  font-size: 50px;
}

.text-about i {
  margin-left: 15px;
  font-size: 30px;
  color: #fff;
}

.text-about i:hover {
  color: #EF426F;
}

h1 {
  font-weight: 700;
  font-size: 50px;
}

.link-wrapper {
  text-align: center;
}

.embeddedLink {
  font-weight: 700;
  color: #EF426F;
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
}

.embeddedLink:hover {
  color: #fff;
  background-color: #FF8200;
  border-radius: 10px;
  text-decoration: none;
}

#portfolioHeader {
  text-align: center;
  color: #FF8200;
  font-weight: 700;
  font-size: 55px;
}

.portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.portfolioImages {
  border-radius: 50%;
  margin: 10px;
  width: 350px;
}

.button-wrapper {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#download-button {
  border: solid 1px #fff;
  color: #fff;
  padding: 10px;
  margin: 20px;
}

#download-button:hover {
  background-color: #fff;
  color: #EF426F;
}

#resume {
  background-color: #EF426F;
}

#resume h2 {
  color: #fff;
  font-weight: 700;
}

#resume li {
  color: #fff;
}

#resume dd {
  color: #fff;
}

#resume dt {
  color: #fff;
}

#resume .skills {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

#resume .skills .sub-header {
  width: 100%;
  border-top: solid 3px #FF8200;
}

#resume .education {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

#resume .education .sub-header {
  width: 100%;
  border-top: solid 3px #FF8200;
}

#resumeHeader {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 55px;
}

.star-primary {
  width: 20%;
  border-top: solid 3px #00B2A9;
}

#contact {
  background-color: #FF8200;
  text-align: center;
  color: #fff;
}

#contact p {
  font-size: 18px;
  color: #fff;
}

#portfolio-header {
  text-align: center;
}

footer {
  text-align: center;
  margin: 20px 40px;
  color: #6b6a6a;
}

@media (max-width: 767px) {
  #resume .col {
    width: 100%;
  }
  nav ul {
    display: block !important;
  }
  nav li a:hover {
    background-color: #00B2A9;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .text-about {
    text-align: justify;
    text-justify: inter-word;
    left: 20%;
  }
  .skills {
    float: none;
    width: 100%;
  }
  .education {
    float: none;
    width: 100%;
  }
  li a {
    -webkit-transition: background-size .4s ease;
    transition: background-size .4s ease;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, transparent), color-stop(0, #FF8200)) center center/0% 75% no-repeat;
    background: linear-gradient(to bottom, transparent 62%, #FF8200 0) center center/0% 75% no-repeat;
    font-family: "Montserrat", sans-serif;
    padding: 0 6px 2px 6px;
    cursor: pointer;
    letter-spacing: .08rem;
  }
  li a:hover {
    background-size: 100% 100%;
    color: #EF426F;
  }
  li a:active {
    background-size: 80% 100%;
  }
}
/*# sourceMappingURL=style.css.map */