$fuschia: #EF426F; 
$teal: #00B2A9;
$orange: #FF8200;
$fontStack: 'Montserrat', sans-serif;
/* SOURCE: https://teamcolorcodes.com/san-antonio-spurs-color-codes/ */
body{
    position: relative;
    font-family: $fontStack;
}
nav{
    background-color: #fff;
    width: 100%;
}

#navbar-toggler-icon{
    color: $teal;
}

li a {
    color: $teal;
}
// HERO SECTION

.jumbotron{
    background-color: $teal;
    color: #fff;
    height: 600px;
    width: 100%;
}
#name-tag{
    -webkit-text-stroke: 1px #fff;
    color: $teal;
    font-size: 50px;
}
.text-about{
    i {
        margin-left: 15px;
        font-size: 30px;
        color: #fff;
        &:hover{
            color: $fuschia;
        }
    }
}
h1 {
    font-weight: 700;
    font-size: 50px;
}
.link-wrapper{
    text-align: center;
}
.embeddedLink{
    font-weight: 700;
    color: $fuschia;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    &:hover{
        color: #fff;
        background-color: $orange;
        border-radius: 10px;
        text-decoration: none;
    }
}
// PORTFOLIO SECTION
.portfolio{
    display:inline-block;
}
#portfolioHeader{
    text-align: center;
    color: $orange;
    font-weight: 700;
    font-size: 55px;
}
.portfolio-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.portfolioImages{
    border-radius: 50%;
    margin: 10px;
    width: 350px;
}
.button-wrapper{
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#download-button{
    border: solid 1px #fff;
    color: #fff;
    padding: 10px;
    margin: 20px;
    &:hover{
        background-color: #fff;
        color: $fuschia;
    }
}
// RESUME SECTION
#resume{
    background-color: $fuschia;
    h2{
        color: #fff;
        font-weight: 700;
    }
    li{
        color: #fff;
    }
    dd {
        color: #fff;
    }
    dt{
        color: #fff;
    }
    .skills{
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        float: left;
        .sub-header{
                width: 100%;
                border-top: solid 3px $orange;
        }
    }
    .education{
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        float: left;
        .sub-header{
                width: 100%;
                border-top: solid 3px $orange;
        }
    }
}
#resumeHeader{
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 55px;
}
.star-primary{
    width: 20%;
    border-top: solid 3px $teal;
}
// CONTACT SECTION
#contact{
    background-color: $orange;
    text-align: center;
    color: #fff;
    p{
        font-size: 18px;
        color: #fff;
    }
}
// PORTFOLIO PAGE STYLINGS
#portfolio-header{
    text-align: center;
}
footer{
    text-align: center;
    margin: 20px 40px;
    color: rgb(107, 106, 106);
}
//tablet size and down
@media (max-width: 767px){
    #resume .col{
        width: 100%;
    }
    nav{
        ul{
            display: block !important;
        }
        li a{
            &:hover{
                background-color: $teal;
                color: #fff;  
            }
        }
    }
}
.image-wrapper{
    text-align: center;
}
.portfolio-main-image{
    width: 350px;
    
}

//desktop and bigger
@media (min-width: 768px){
    .text-about {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 20%;
    }
    .skills{
        float: none;
        width: 100%;
    }
    .education{
        float: none;
        width: 100%;
    }
    li a{
        transition: background-size .4s ease;
        background: linear-gradient(to bottom, transparent 62%, $orange 0) center center/0% 75% no-repeat;
        font-family: $fontStack;
        padding: 0 6px 2px 6px;
        cursor: pointer;
        letter-spacing: .08rem;
        &:hover {
        background-size: 100% 100%;
        color: $fuschia;
        }
        &:active {
        background-size: 80% 100%;
        }
    }
}

// custom buttons
.liveViewBtn{
    background-color: $teal;
    color: #fff; 
    &:hover{
        background-color: #fff;
        color: $teal;
        border: 1px $teal solid;
    }
}
.viewCodebtn{
    background-color: #fff;
    color: $teal;
    border: 1px $teal solid;
    &:hover{
        background-color: $teal;
        color: #fff;
    }
}
// carousel styling

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}



